{
	 "colors": {
				"toolbar": "color7",
				"toolbar_text": "color0",
				"frame": "color1",
				"tab_text": "color0",
				"tab_background_text": "color0",
				"toolbar_field": "#FFFFFF",
				"toolbar_field_text": "#000000",
				"tab_line": "color1",
				"popup": "#FFFFFF",
				"popup_text": "#000000",
				"ntp_background": "color1",
				"ntp_text": "color8",
				"popup_border": "color1",
				"popup_highlight_text": "color0",
				"popup_highlight": "color7",
				"sidebar_highlight_text": "color8",
				"sidebar_highlight": "color1",
				"sidebar_text": "color0",
				"sidebar": "color7",
				"toolbar_field_border_focus": "color7",
				"toolbar_field_highlight_text": "color0",
				"toolbar_field_highlight": "color7"
		},
		"images": {
				"additional_backgrounds": [ "./bg-009.svg" ],
				"custom_backgrounds": []
		},
		"title": "wpgtk-firefox-themer"
}
